{% extends "blog/base.html" %}
{% block content %}
    <h1>About Us</h1>
    <p>The Prison Officers’ Association represents Prison Officers in the 26 Counties of the Republic of Ireland. The Association represents grades from Prison Officer up to and including Deputy Governor. The Association has a Branch structure in each prison/place of detention. It also has a National structure with a National Executive Council and an Administrative Council. The Association’s headquarters are at 18, Merrion Square, Dublin 2.</p>
    <br>
    <p>
        <h3>National Structure</h3>
        At National Level the Administrative Council is made up of 8 National Officers. The Administrative Council is responsible for the day to day running of the Prison Officers’ Association. The Administrative Council is made up of 4 full time Officers (General Secretary, Deputy General Secretary, and the 2 Assistant General Secretaries) and 4 part time Officers (President, Vice President, General Treasurer and Information Officer). The chief negotiators of the Prison Officers’ Association are the General Secretary and the Deputy General Secretary.
    </p>
    <br>
    <p>
        <h3>Structure at Local Level
        </h3>
        There is a Branch of the Association in each prison / place of detention in the State and such places as the National Executive Council may designate. Local Branch Committees consists of 9 members consisting of  5 Branch Officers and 4 Committee Members as outlined hereunder.

        Branch Chairperson – National Executive Council Member.
        Branch Secretary – First Sub National Executive Council Member.
        Branch Treasurer – Second Sub National Executive Council Member.
        Vice Chairperson.
        Assistant Secretary.
        4 Committee Members
        The chief negotiators at local level are the Branch Chairperson and Branch Secretary.
    </p>
    {% endblock content %}