{% extends "blog/base.html" %}
{% block content %}
    <h1>About Us</h1>
    <p>The Prison Officers’ Association represents Prison Officers in the 26 Counties of the Republic of Ireland. The Association represents grades from Prison Officer up to and including Deputy Governor. The Association has a Branch structure in each prison/place of detention. It also has a National structure with a National Executive Council and an Administrative Council. The Association’s headquarters are at 18, Merrion Square, Dublin 2.</p>
{% endblock content %}